@import 'partials/bourbon/bourbon';
@import 'partials/variables';
@import 'partials/layout';
@import 'partials/normalize';

/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-1;
  background-color: $color-2;
}

a {
  color: $color-1;
  text-decoration: none;
}

li{
  list-style: none;
}
/* --------------------------------

Loader animation

-------------------------------- */
// .loader{
//   position: absolute;
//   z-index: 997;
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }
//   // background: #fefefe;
//   z-index: -100;
//   // transform: translateZ(0);
//   // transform: translateX(100%);
//   // transition: transform 0.5s;
//   // animation: apperLoad .5s cubic-bezier(.36,.07,.19,.97) both;
// }
// .loader.visible{
//   z-index: 99999
//   // transform: translateZ(0);
//   // transform: translateX(0);
//   // transition: transform 0.5s;
// }
.loader__screen{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 998;
  transform: translateZ(0);
  transform: translateX(120%);
}
.loader__screen:nth-of-type(1){
  background: #67434F;
  transition: transform 0.2s 0.25s;
  &.visible{
    transform: translateZ(0);
    transform: translateX(0);
    transition: transform 0.18s 0s;
  }
}
.loader__screen:nth-of-type(2){
  background: #C3CCAF;
  transition: transform 0.2s 0.15s;
  &.visible{
    transform: translateZ(0);
    transform: translateX(12.8%);
    transition: transform 0.23s 0.15s;
  }
}
.loader__screen:nth-of-type(3){
  background: #fcf0eb;
  transition: transform 0.18s 0;
  &.visible{
    transform: translateZ(0);
    transform: translateX(16.8%);
    transition: transform 0.25s 0.2s ease-in-out;
  }
}
.index .loader__screen:nth-of-type(1){
  background: #c13d5c;
}
.index .loader__screen:nth-of-type(2){
  background: #C3CCAF;
}
.about .loader__screen:nth-of-type(1){
  background: #c13d5c;
}
.about .loader__screen:nth-of-type(2){
  background: #aa7db2;
}
.projects .loader__screen:nth-of-type(1){
  background: #C3CCAF;
}
.projects .loader__screen:nth-of-type(2){
  background: #aa7db2;
}
.loader__line{
  // border: none;
  border-top: solid 8px #fefefe;
  opacity: .65;
  margin: 0;
}
.loader__contects{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.loader__contects__icon{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(250, 250, 250, .6);
  border-left-color: rgba(33, 33, 33, 0);
  border-radius: 100%;
  top: 20px;
  left: 24px;
  animation: animation-rotate 480ms linear infinite;
}
@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loader__contects__logo{
  position: absolute;
  width: 56px;
  top: 20px;
  left: 24px;
  svg{
    fill: #fff !important;
  }
}
/* Toggle Button */
.index .nav__toggle__logo,
.about .nav.open .nav__toggle__logo,
.projects .nav.open .nav__toggle__logo {
  fill: #fefefe;
}
.nav__toggle__logo {
  display: none;
  @include breakpoint(mobile){
    display: block;
    position: absolute;
    left: 12px;
    top: 14px;
    width: 52px;
    height: 36px;
    z-index: 500;
  }
}
.nav__toggle {
  display: none;
  position: fixed;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 500;
  @include breakpoint(mobile){
    display: block;
  }
  div {
    position: relative;
  }
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    border-radius: 1px;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 11px;
  }
  span:nth-child(3) {
    top: 22px;
  }
}
.about .nav__toggle span,
.projects .nav__toggle span{
  background: #333;
}
.about .nav.open .nav__toggle span,
.projects .nav.open .nav__toggle span{
  background: #fff;
}
/* --------------------------------

Navigation

-------------------------------- */
.nav{
  width: 100%;
  height: 60px;
}
.nav.fixed{
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(255,245,245,.8);
  z-index: 600;
}
.about .nav.fixed{
  .logo-svg{
    fill: #333;
  }
}
.nav__global{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 300;
  box-sizing: broder-box;
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    padding: 24px;
    &:hover .nav__line{
      transition: .4s;
      width: 85%;
    }
  }
  li:nth-child(1){
    margin-right: auto;
    margin-left: 24px;
    padding: 0;
  }
  a,li{
    display: block;
    font-size: 2rem;
    @include breakpoint(laptop){
      font-size: 1.6rem;
    }
  }
  &__txt{
    font-size: 1.8rem;
    letter-spacing: 1px;
    &--white{
      color: $color-2;
    }
  }
}
@include breakpoint(mobile){
  .nav.open .nav__global{
    transform: translateY(0);
    transition: .3s ease-out;
  }
  .nav__global{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #333;
    transform: translateY(-100%);
    overflow: hidden;
    transition: .3s ease-out;
    .logo__wrap{
      display: none;
    }
    ul{
      display: block;
      margin-top: 100px;
    }
    li{
      display: block;
      position: relative;
      width: 100%;
      height: 30px;
      padding: 0;
      margin: 15px 0;
      border-box:box-sizing;
      font-size: 2rem;
      line-height: 30px;
      &:hover .nav__line{
        transition: .4s;
        width: 25px;
      }
    }
    a{
      display: block;
      font-size: 2rem;
    }
    .nav__line{
      position: absolute;
      top: 14px;
      left: 100px;
      width: 16px;
      height: 50%;
      transition: .4s;
      border-top: 1px solid $color-2;
    }
  }
  .lang__btn{
    margin-top: 100px !important;
    p{
      font-size: 1.4rem;
    }
  }
}

.nav__line{
  position: absolute;
  top: 50%;
  left: 10px;
  width: 8px;
  height: 50%;
  transition: .4s;
  border-top: 1px solid $color-1;
  &--white{
    border-color: $color-2;
  }
}
.nav-link{
  display: block;
  cursor: pointer;
}
.nav-modal{
  cursor: pointer;
}
.index .nav ul li,
.index .nav ul li a,
.index .nav ul li span{
  color: $color-2;
   border-color: $color-2;
}
.about .nav.open ul li,.projects .nav.open ul li,
.about .nav.open ul li a,.projects .nav.open ul li a,
.about .nav.open ul li span,.projects .nav.open ul li span{
  color: #fefefe;
}
.logo__wrap{
  max-width: 56px;
}
.index .logo-svg,
.about .logo-svg{
  fill: #fff;
}
.about .nav.open .logo-svg{
  fill: #fff;
}
/* --------------------------------

Main content

-------------------------------- */
.main__wrap{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration */
  // transform: translateZ(0);
  // transform: translateX(100%);
  // transition: transform 0s 0s;
}
.main__wrap.visible {
  position: absolute;
  z-index: 200;
  // transform: translateX(0);
  // transition: transform 0s 0s;
}

.main__wrap.overflow-hidden {
  height: 100vh;
  overflow: hidden;
}
.section-top{
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-2;
  &--absolute{
    position: absolute;
    top: 0;
    left: 0;
  }
}
.section-top.contact{
  background: rgba(174,204,186,.82);
}

.section-top.rotate-ani{
  visibility: hidden;
  transform: rotateX(-180deg);
  transform-origin: center bottom;
}
.section-top.rotate-ani.visible{
  visibility: visible;
  transition: .6s ease-out;
  transform: rotateX(0);
  transform-origin: center bottom;
}
.main__bg{
  width: 100%;
  height: 100vh;
}
.main__bg video,.blog__video {
  object-cover: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
// /* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  .main__bg video,.blog__video  { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .main__bg video,.blog__video  { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  .main__bg video,.blog__video {
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.main__filter{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background(linear-gradient(rgba(0,0,0,.12), rgba(0,0,0,.28)) left repeat);
  @include background(linear-gradient(rgba(0,0,0,.12), rgba(0,0,0,.28)) left repeat, radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,.01)));
}
.title-main{
  position: relative;
  margin: 0 auto;
  top: calc(50% - 6em);
  left: 5%;
  &__txt{
    font-family: arial,sans-serif;
    color: $color-2;
    margin: 22px 0;
    font-size: 3.25rem;
    line-height: 4rem;
    @include breakpoint(mobile){
      font-size: 2.56rem;
    }
    &--big{
      font-size: 4.6rem;
      @include breakpoint(mobile){
        font-size: 2.56rem;
      }
    }
  }
}
.title-main__cursor{
  border-right: .1em solid transparent;
  animation: cursor 1s infinite;
}
@keyframes cursor{
  50%{ border-color: #011016; }
}
.title-main__cursor--white{
  border-right: .1em solid transparent;
  animation: cursorWhite 1s infinite;
}
@keyframes cursorWhite{
  50%{ border-color: #fff; }
}
.btn{
  background: $color-1;
  background: linear-gradient($color-1 0,#222 100%);
  border-radius: 3.2px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(1,16,22,.21);
  display: block;
  color: $color-2;
  font-weight: 300;
  letter-spacing: 1.5px;
  max-width: 260px;
  outline: 0;
  padding: 12px 5px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(1,16,22,.1);
  width: 100%;
  &::before{
    background: linear-gradient($color-3 0,#8c1332 100%);
    border-radius: inherit;
    content: '';
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .15s cubic-bezier(.17,.67,.83,.67);
    z-index: -1;
  }
}
.btn--red{
  background: linear-gradient(rgba(165,30,60,.65) 0,$color-3 100%);
}
.btn-main{
  margin-top: 48px;
}
.vertical-row{
  display: flex;
}
.vertical-row_center{
  padding: 0;
  justify-content: center;
}
.vertical-row_start{
  justify-content: flex-start;
}
.vertical-row_end{
  justify-content: flex-end;
}
.vertical-row_between{
  padding: 0;
  justify-content: space-between;
}

%box{
  border: 1px dotted rgba(1,16,22,.35);
  z-index: -1;
}
.sns-main{
  position: absolute;
  right: 5%;
  bottom: 5%;
  text-align: right;
  display: flex;
  li{
    float: left;
    @include clearfix;
  }
  a{
    display: inline-block;
  }
}
.sns-main--other{
  width: 90%;
  height: 70px;
  position: relative;
  margin-top: 70px;
  margin-left: 5%;
  @include breakpoint(mobile){
    width: 100%;
    left: 0;
  }
}
.sns-main__enclose--white{
  margin: 0;
  padding: 0;
  border: 0 solid #fff;
  border-width: 0 0 1px 1px;
  @include breakpoint(mobile){
    border: 0;
  }
}
.sns-main__item{
  padding: 15px 20px;
  box-sizing: border-box;
  border: 0 solid #fff;
  border-width: 1px 1px 0 0;
  &--white{
    a{color: $color-2;}
  }
  @include breakpoint(mobile){
    border: 0;
    padding: 7.5px 10px;
  }
}
.sns-main__item .fa{
  &:hover{
    animation: hoverIcon .65s;
  }
}
@keyframes hoverIcon{
  25% {
    transform: scale(1.25)
  }
  50% {
    transform: scale(.8)
  }
  75% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}
.sns-main__item .fa{
  &:hover{
    animation: hoverIcon .65s;
  }
}
.sns-main__item.github:hover{
    background: linear-gradient(rgba(80,80,80,.5), rgba(80,80,80,1));
}
.sns-main__item.codepen:hover{
  background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,1));
}
.sns-main__item.instagram:hover{
  background: radial-gradient(circle farthest-corner at 32% 106%,
    rgba(255, 225, 125,.5) 0%,
    rgba(255, 205, 105,.5) 10%,
    rgba(250, 145, 55,.5) 28%,
    rgba(235, 65, 65,.5) 42%),
    linear-gradient(135deg,rgba(35, 75, 215,.5) 12%, rgba(195, 60, 190,.5) 58%);
}

.sns-main__item.twitter:hover{
  background: linear-gradient(rgba(15,223,248,.2), rgba(15,223,248,1));
}
.sns-main__item.dribbble:hover{
  background: linear-gradient(rgba(234,76,137,.2), rgba(234,76,137,1));
}
.contact{
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
   z-index: 500;
}
.contact__bg{
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(174,204,186,0.7);
  top: 0;
  left: 0;
  z-index: 500;
}
.index .contact__bg{
  background: rgba(186,108,134,0.64);
}
.about .contact__bg{
  background:rgba(170,125,178,0.7);
}
.contact__wrap{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 501;
  width: $contact-form_W;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  background: rgba(250,247,244,.82);
  box-shadow:0 0px 9px 4px rgba(#000, .1), 0 -5px 2px 2px rgba(#000, .1);
  overflow: hidden;
  @include breakpoint(tablet){
    width: 620px;
  }
  @include breakpoint(mobile){
    width: 320px;
    height: 500px;
  }
}
.contact__title{
  text-align: center;
  padding: 30px 0 20px;
  &__sns{
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    li{
      padding: 0 10px;
    }
    a{
      font-size: 2.4rem;
    }
  }
  svg{
    @include breakpoint(tablet){
      width: 300px;
    }
  }
}
.contact__error{
  font-size: 1.4rem;
  padding-left: 35px;
  color: red;
}
.result{
  &__loading{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    text-align: center;
  }
  &__msg{
    display: none;
    position: absolute;
    top: 150px;
    left: 42px;
    text-align: center;
    p{
      font-family: $secondly-font;
      font-size: 3.2rem;
      line-height: 5.2rem;
      .fa{
        font-size: 5.2rem;
        padding-right: 2rem;
      }
    }
  }
}
.projects .result__msg p{
  color: $color-pro;
}
.about .result__msg p{
  color: $color-about;
}
.index .result__msg p{
  color: $color-index;
}
.contact__form{
  position: relative;
  &__wrap{
    display: flex;
    @include breakpoint(mobile){
      display: block;
    }
    & > div{
      width: ($contact-form_W - $division-line_W)/2;
      padding: 10px 35px;
      box-sizing: border-box;
      @include breakpoint(mobile){
        width: 280px;
        padding: 0;
        margin: 0 auto;
      }
    }
  }
  &__item{
    padding-bottom: 15px;
  }
  & > div{
    // display: flex;
  }
  label{
    display: black;
    margin: 0;
    font-size: 1.4rem;
  }
  &__input{
    display: block;
    width: 100%;
    height: 40px;
    padding: .25rem 0;
    border: 0;
    border-bottom: 1px solid $color-1;
    outline: 0;
    background: transparent;
    font-size: 1.32rem;
    line-height: 1rem;
    letter-spacing: .125rem;
    transition: all .5s cubic-bezier(.4, .25, .8, .3);
    &:focus{
      box-shadow: none;
      border-color: #ed4a75;
    }
  }
  &__textarea{
    resize:none;
    overflow:auto;
    display: block;
    width: 100%;
    height: 110px;
    max-height: 150px;
    padding: 1.25rem 0 .25rem;
    border: 0;
    border-bottom: 1px solid $color-1;
    outline: 0;
    background: transparent;
    font-size: 1.32rem;
    line-height: 1rem;
    letter-spacing: .125rem;
    // transition: all .5s cubic-bezier(.4, .25, 
  }
  &__btn{
    margin: 10px auto 0;
    max-width: 400px !important;
    padding: 5px 0;
    @include breakpoint(tablet){
     max-width: 250px !important;
    }
  }
}
.division-line{
  width: 1px;
  height: 100px;
  margin-top: 50px;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
  @include breakpoint(mobile){
    display: none;
  }
}
.introAni{
  transition: .7s;
  margin: 100px 0 0 70px;
  @include breakpoint(mobile){
    margin: 0 auto;
  }
}
.about{
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.about-right{
  position: relative;
  top: 0;
  left: 0;
  left: 30%;
  width: 70%;
  @include breakpoint(mobile){
    width: 100%;
    left: 0;
  }
}
.about__number{
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: -1;
  display: none;
  p{
    font-size: 11rem;
    font-weight: bold;
    color: #cc506a;
    opacity: .55;
    margin: 0;
  }
}
.article-list__wrap{
  position: relative;
  padding: 50px 0;
  margin: 50px 0;
}
.article-list{
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  &__title {
    border-bottom: 2px dotted #505050;
    margin-bottom: 10px;
    opacity: 0;
  }
  &__title h1{
    font-family: $secondly-font;
    // font-weight: bold;
    margin: 0;
    font-size: 4.8rem;
    letter-spacing: .3125rem;
  }
   &__title h3{
    font-family: $secondly-font;
    font-size: 2.4rem;
    letter-spacing: .134rem;
    @include breakpoint(mobile){
      font-size: 1.8rem;
      min-height: 60px;
    }
  }
  &__txt{
    font-size: 1.76rem;
    letter-spacing: .124rem;
    line-height: 2.6rem;
    color: #fff;
    opacity: 0;
    @include breakpoint(mobile){
      margin-right: 0;
    }
  }
  &__txt.jp{
    font-size: 1.46rem;
    letter-spacing: .124rem;
    line-height: 2.6rem;
  }
  &__txt__wrap{
    margin: 30px 0;
  }
}
.fadeInDown {
 animation-fill-mode:both;
 animation-duration: 0.52s;
 animation-name: fadeInDown !important;
 display: block!important;
}

@keyframes fadeInDown {
 0% { opacity: 0; transform: translateY(20px); color: #fff; }
 100% { opacity: 1; transform: translateY(0); color: #333; }
}
.en,.jp{
  display: none!important;
}
.en.visible,
.jp.visible{
  display: block!important;
}
.lang__btn{
  padding-left: 10px!important;
  padding-right: 40px!important;
  p{
  position: relative;
  font-size: 1rem;
  line-height: 1.6rem;
  border: 1px solid $color-2;
  border-radius: 2px;
  margin: 0;
  padding: 1px 2px;
  }
  span{
    padding: 0 10px;
  }
  &__bar{
    text-align: center;
    font-size: 3.4rem;
    position: absolute;
    z-index: -1;
    top: -.35rem;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(15deg);
  }
}
.lang__btn.en_on .lang__btn__bar{
  transform: rotate(15deg);
  transition: .2s ease-in-out;
}
.lang__btn.jp_on .lang__btn__bar{
  transform: rotate(-15deg);
  transition: .2s ease-in-out;
}
.lang__btn.en_on{
  .lang__btn--jp{
    opacity: .6;
    color: #ccc;
    cursor: pointer;
  }
}
.lang__btn.jp_on{
   .lang__btn--en{
    opacity: .6;
    color: #ccc;
    cursor: pointer;
  }
}
.about .lang__btn p,
.projects .lang__btn p{
  border: none;
}

.nav.fixed .lang__btn p{
  border: none;
}
@keyframes leftIn{
  100%{ left: 0;}
}

.about-left{
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background-image: url(../img/instagram/pic01.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include breakpoint(mobile){
    display: none;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.37);
    @include breakpoint(mobile){
      display: none;
    }
  }
}
.about-left-top{
  margin-top: 40%;
}
.subtitle{
  position: relative;
  width: 100%;
  height: 100%;
  ul{
    padding: 0;
  }
  & > ul{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    width: 10rem;
    height: calc( 12rem + 60px );
  }
  li{
    margin: 5px;
    padding-left: 1rem;
    position: relative;
    text-transform: uppercase;
    a{
      white-space: nowrap;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $color-2;
      font-family: $secondly-font;
      @include breakpoint(desktop){
       font-size: 1rem;
       line-height: 1.6rem;
      }
    }
  }
  li:before{
    content: '';
    display: inline-block;
    height: 1.15rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid $color-2;
    transform: scale(.6);
  }
  li:after{
    content: '';
    display: inline-block;
    width: 0;
    height: 1.15rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    // right: 0;
    margin: auto;
    border: 2px solid $color-2;
    transform: rotate(90deg) scale(.6);
  }
  &__current a{
    color: #f9c0d6 !important;
  }
}
.subtitle-head__current > a{
  color: #f9c0d6;
}
.subtitle__pic{
  height: 27px !important;
}
.subtitle__current{
  &:before{
    transition: 1s;
    transform: rotate(90deg) scale(.6) !important;
    border: 2px solid #f9c0d6!important;
  }
  &:after{
    transition: 1s;
    transform: rotate(180deg) scale(.6) !important;
    border: 2px solid #f9c0d6!important;
  }
}
.subtitle a::after{
  width: 200px;
  height: 100px;
  background: pink;
}

.intro{
  $deco01-big: 28px;
  &__deco01{
    position: absolute;
    top: $deco01-big * -1/5;
    right: $deco01-big * -1/3;
    width: $deco01-big;
    height: $deco01-big;
    background-color: brown;
    background: url(../img/gold.jpg);
    animation: rotateAni .2s ease-in-out forwards;
    &--pink{
      background: url(../img/gold-pink.jpg) !important;
      background: transparent;
    }
  }
  &__deco02{
    $deco02-big: 18px;
    position: absolute;
    top: $deco01-big * -1/1.8;
    right: $deco01-big * -1/1.5;
    width: $deco02-big;
    height: $deco02-big;
    background-color: yellow;
    background: url(../img/gold.jpg);
    animation: rotateAni .4s ease-in-out forwards;
    &--pink{
      background: url(../img/gold-pink.jpg)!important;
      background: transparent;
    }
  }
  &__deco03{
    $deco03-big: 400px;
    position: absolute;
    bottom: $deco03-big * -0.2;
    right: $deco03-big * -0.2;
    width: $deco03-big*1.3;
    height: $deco03-big;
    border-image: url(../img/gold.jpg) 15 round;
    border-style:solid; border-width:8px;
    z-index: -1;
    @include breakpoint(mobile){
      $deco03-big: 55px;
      bottom: $deco03-big * -0.5;
      left: $deco03-big * -0.5;
      width: $deco03-big;
      height: $deco03-big;
    }
  }
}

@keyframes rotateAni{
  0%{ transform: rotate(360deg);}
  20%{ transform: rotate(-360deg);}
  40%{ transform: rotate(360deg);}
  60%{ transform: rotate(-360deg);}
  80%{ transform: rotate(360deg);}
  100%{ transform: rotate(-360deg);}
}
.insta__wrap{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.insta__wrap{
  li{
    box-sizing: border-box;
    width: 33%;
    padding: 3px;
  }
  img{
    width: 100%;
    background-size: cover;
  }
}

.insta__wrap{
  &__link{
    display: inline-block;
  }
  &__caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    p{
      font-size: 2rem;
      line-height: 280px;
      margin: 0;
      padding: 0;
      color: #fff;
      opacity: .65;
    }
  }
}
.introImg{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  top: 0;
  // left: 100%;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
  transition-delay: 0;
}

// /*------------------------------
//       Skill area
// ------------------------------*/

.pie-chart__wrap{
  margin: 0 20px;
  text-align: center;
  @include breakpoint(mobile){
    width: 100%;
    margin: 0 auto;
  }
}
.pie-chart{
  height: 200px;
}

.bar-graph__wrap{
  width: 50%;
  text-align: center;
}
.bar-graph{
  width: 90%;
  max-width: 500px;
  height: 180px;
  margin: 0 auto;
}
// javascript生成
.bar-graph div{
  background-color: rgba(222, 70, 60, 0.3);
  margin-bottom: 10px;
  padding: 3px;
  font-size: 12px;
  text-align: left;
}

.article-list__img{
  display: flex;
  justify-content: space-around;
  // justify-content: center;
  & > div{
    width: 33.333%;
    text-align: center;
  }
  img{
    min-width: 100px;
    max-height: 100px;
    background-size: cover;
    margin: 10px auto;
    @include breakpoint(tablet){
    width: 45%;
    margin: 0 auto;
    }
  }
}
/*------------------------------
          WORKS
------------------------------*/
#result [class*="hidden-"]{
  display: none;
}
.title-works{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  &--big{
    font-family: "paralucent",sans-serif;
    font-weight: 100;
    font-size: 2rem;
    line-height: 80px;
    margin: 0;
    padding: 0;
  }
}
.works-head{
  position: fixed;
  bottom: -55px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 70px;
  z-index: 99999;
  transition: 1s;
  .iconspace-title{
    color: #011016;
  }
  @include breakpoint(mobile){
    display: none;
  }
}
.works-head.scDmove{
  transition:1s;
  bottom: 0px;
  // animation-fill: forwards;
}
.nav-filter{
  display: block;
  width: 40px;
  bottom: 70px;
  left: -10px;
  margin-left: 17px;
  position: absolute;
  transform: rotate(-90deg);
  background: transparent;
  cursor: pointer;
  &--txt{
    font-size: 1.4rem;
  }
}


.select-wrap_top{
  width: 100%;
  height: 17px;
  // background: linear-gradient(rgba(100,100,100,.65), rgba(200,200,200,.1));
  background: transparent;
  position: relative;
  cursor: pointer;
  .arrow{
    position: relative;
    left: 23px;
    bottom: 5px;
    width: 9px;
    height: 9px;
    border-right: 1px solid #011016;
    border-bottom: 1px solid #011016;
    transform: rotate(45deg);
    transition:1s;
  }
   .arrow-up{
    transition:1s;
    transform: rotate(-135deg) translate(-3px,-3px);
  }
}
.select-wrap{
  width: 100%;
  height: calc(100% - 17px);
  background: rgba(0, 0, 0, 0.85);
  box-sizing: border-box;
  display: table;
  color: rgba(255,255,255,.6);
  div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  label{
    margin-left: 18px;
    @include breakpoint(tablet){
      margin-left: 10px;
      font-size: 12px;
    }
  }
}
// /*------------------------------
//           WORKS
// -------------------------------*/
.projects{
  position: relative;
}
.projects__wrap{
  width: 90%;
  max-width: 1200px;
  padding: 80px 0;
  margin: 0 auto;
  .vertical-row{
    @include breakpoint(tablet){
      display: block;
    }
  }
  li{
    margin-bottom: 8px;
    @include breakpoint(tablet){
      margin-bottom: 50px;
    }
  }
}
.projects__item{
  width: 45%;
  margin: auto;
  height: auto;
  overflow: hidden;
  @include breakpoint(tablet){
    width: 90%;
    margin: 5px auto;
  }
  &__link{
  	display: block;
  }
}
.projects__item .conL, .conR{
  opacity: 0;
}
.projects-title{
  width: 10%;
  height: 350px;
  margin: 30px auto 0;
  text-align: center;
  overflow: hidden;
  @include breakpoint(tablet){
    display: none;
  }
}
.projects-title-sm{
  display: none;
  margin-left: 10%;
  font-size: 2rem;
  font-weight: bold;
  @include breakpoint(tablet){
    display: block;
  }
  @include breakpoint(mobile){
   font-size: 1.6rem;
  }
}
.projects-title__txt{
  width: 100%;
  height: 60%;
  text-align: center;
  margin: 0 auto;
  p{
    width: 1.2rem;
    text-align: center;
    font-size: 1.4rem;
    margin: 0 auto 20%;
    padding:0;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
  }
}
html[xmlns*=""]:root .project-title p{
  letter-spacing: 0.3em;
}
.projects-title__line{
  width: 50%;
  height: 40%;
  margin-left: auto;
  border-left: .75px solid #333;
}
.bar{
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 2px;
  border: 0;
  border-top: 1px dashed #432f44;
}
.projects__item__article{
  max-width: 500px;
  margin: 0 auto;
  h3{
    @include breakpoint(laptop){
      margin-top: 0;
    }
  }
  p.jp{
    font-size: 1.42rem;
    line-height: 2rem;
  }
}
.projects__item__img{
  width: 100%;
  max-width: 500px;
  max-height: 450px;
  margin: 50px auto;
  text-align: center;
  @include breakpoint(laptop){
    margin: 10px auto;
  }
  @include breakpoint(mobile){
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }
}
.projects-content__article{
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin: 30px auto;
  text-align: left;
  @include breakpoint(mobile){
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
.projects__img01{
  width: 100%;
  background-size: contain;
}
.scLmove{
  animation-name: fadeInLeft;
  animation-duration: .72s;
  animation-fill-mode: both;
}
@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translate(-200px, 200px);
  }
  50%{
    opacity: .3;
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }
}
.scRmove{
  animation-name: fadeInRight;
  animation-duration: .72s;
  animation-fill-mode: both;
}
@keyframes fadeInRight{
  from{
    opacity: 0;
    transform: translate(200px, 200px);
  }
  to{
    opacity: 1;
    transform: translate(0,0);
  }
}
.more-button{
  color: #181818;
  text-align: center;
  font-size: 1.2em;
  position: relative;
  width: 30%;
  // margin-left: 70%;
  margin: 30px auto;
}
.more-button span{
  background-color: #fff;
  padding: 0 0.5em;
}
.more-button::before{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid #181818;
}
// Radio button
.radio{
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #c2c2c2;
    transition: all 0.3s ease-in-out;
  }
  &:checked:before {
    transform: scale(1);
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    background: pink;
    border: 2px solid pink;
    // transform: scale(1);
    // border-color: red
  }
}
//  Checkbox
.checkbox{
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: .45rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #c2c2c2;
    transition: all 0.3s ease-in-out;
  }
  &:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    border-color: pink;
  }
}
/*------------------------------
          CONTACT
------------------------------*/
.bg-txt{
  font-family: "chantal";
  font-size: 6rem;
  font-weight: bold;
  color: #555;
  opacity: .25;
}

.aaa{
  position: relative;
  z-index: 99999;
}
/*------------------------------
          Footer
------------------------------*/
.about .footer{
  position: relative;
  width: 70%;
  left: 30%;
  @include breakpoint(mobile){
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
.footer{
  width: 100%;
  height: 240px;
  background: $color-1;
  &__head{
    width: 100%;
    height: 190px;
    text-align: center;
    a{
      color: $color-2;
    }
    p{
      font-family: $secondly-font;
      font-weight: 100;
      color: $color-2;
      cursor: pointer;
    }
    .fa{
      color: #fefefe;
      padding: 0 8px;
    }
    .fa-heart{
      color: #ed629a;
      padding: 0 5px;
    }
    & > div{
      height: 50px;
      padding-top: 60px;
    }
  }
  &__foot{
    text-align: center;
    line-height: 50px;
    background-color: #000;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    p{
      color: $color-2;
    }
  }
}