// colors

$color-1: #333; // Black
$color-2: #fefefe; // White
$color-3: #77071a; // main color red
$color-4: #e4b162; // Equator

$color-5: #131519; // Woodsmoke
$color-6: #ffffff; // White
$mainR: #77071a;
$mainB: #353434;
// fonts

$primary-font: "freight-text-pro", "Times New Roman", serif;

// // side navigation size

// $nav-width-small: 74px;
// $nav-width-normal: 94px;
// $loading-bar-width: 4px;

// //animation

// $animation-duration: 0.5s;