// colors

$color-1: #333; // Black
$color-2: #fefefe; // White
$color-3: #77071a; // main color red
$color-4: #e4b162; // Equator

$mainR: #77071a;
$mainB: #353434;
// fonts
$color-pro: #42a56a;
$color-about: #652e70;
$color-index: #a0375f;

$primary-font: "freight-text-pro", "Times New Roman", serif;
$secondly-font: "allumi-std",sans-serif;

// Contact form

$contact-form_W : 720px;
$division-line_W : 40px;

$aboutLeft: 350px;